@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.app {
  /* text-align: center; */
}

.text {
  position: absolute;
  font-size: 64px;
  font-family: 'Inter';
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
